.btn {
  background-color: #1e6dfd;
  color: #fff;
  border-radius: 20px;
  height: 40px;
  min-width: 150px;
  font-size: 1.1em;
  text-transform: uppercase;
  border: none;
}

.btn.secondary {
  border: 2px solid #1e6dfd;
  background-color: #fff;
  color: #1e6dfd;
}
